/EjAnimal/nbproject/private/
/EjAnimal/build/
/Ej1/nbproject/private/
/Ej1/build/
/Ej2y3/nbproject/private/
/Ej2y3/build/
/Ej4/nbproject/private/
/Ej4/build/
/Ex1/nbproject/private/
/Ex1/build/
/Ex1/dist/
/Ex2/nbproject/private/
/Ex2/build/
/Ex3/nbproject/private/
/Ex3/build/
/Ex4/nbproject/private/
/Ex4/build/